jupyternotebooks/.ipynb_checkpoints/*
sys_bm_doc/.ipynb_checkpoints/*
pcap/*
worknotes/brolog/.state/*
data/*
jupyternotebooks/graph_tscut_1/*.pdf
jupyternotebooks/graph_tscut_1/*.gv
jupyternotebooks/graph_tscut_5/*.pdf
jupyternotebooks/graph_tscut_5/*.gv
jupyternotebooks/graph_tscut_5/*.gv.*
